<div id="item-container">
    <div id="item-container-1">
      <div id="item-container-data" class="row">
  
        <div class="col-lg-2">
          <div id="imageitem">
            <div id="imageitem1">
              <div id="mainimg">
                <img src="https://rukminim1.flixcart.com/image/312/312/mobile/6/k/b/asus-zenfone-4-a400cxg-original-imaey2zzbmqzbp3g.jpeg?q=70"
                  alt="" class="imgproduct">
              </div>
            </div>
          </div>
          <div>
            <div style="vertical-align: middle;" class="row">
              <span id="addinput">
                <input type="checkbox" value="on">
              </span>
  
              <label for="" id="textadd">
                <span>Add to Compare</span>
              </label>
  
            </div>
          </div>
          <div id="fvrt">
            <div id="fvrt1">
              <i class="fas fa-heart"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-10 row">
          <div class="col-lg-8 mobiledata">
            <div [innerHTML]="mobilename" id="mobilename">Asus Zenfone 4 (Blue, 8 GB)</div>
            <div id="ratingreviews">
              <span id="rating">
                <div id="rating1">4.2 ★</div>
              </span>
              <span id="review">
                <span>
                  <span>26,042 Ratings&nbsp;</span>
                  <span>&amp;</span>
                  <span>&nbsp;4,492 Reviews</span>
                </span>
              </span>
            </div>
            <div id="mobilekeys">
              <ul class="vFw0gD">
                <li class="tVe95H">1 GB RAM | 8 GB ROM | Expandable Upto 64 GB</li>
                <li class="tVe95H">4 inch WVGA Display</li>
                <li class="tVe95H">5MP Rear Camera | 0.3MP Front Camera</li>
                <li class="tVe95H">1600 mAh Lithium Battery</li>
                <li class="tVe95H">Intel Atom Z2520 Processor with Intel Hyper Threading Technology Processor</li>
                <li class="tVe95H">1 Year for Mobile &amp; 6 Months for Accessories</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 pricesection">
            <div id="price">
              <div id="price1">
                <div id="price2">₹4,688</div>
              </div>
            </div>
            <div id="fasssered">
              <img height="21" src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fa_8b4b59.png">
            </div>
            <div class="_3MCpsc">EMI starting from
              <span class="_1JT2XE">₹156/month</span>
            </div>
            <div class="Offers">
              <span class="_1xZuAn">Offers</span>
              <ul class="_3U7997">
                <li class="_1ZRRx1">No Cost EMI</li>
                <li class="_1ZRRx1">Bank Offer</li>
              </ul>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  