*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* .row{
    display: flex;
} */
div{
    border: 1px solid black;
}